body {
    background-image: url("../media/chalkboard.jpg");
    /*color: #dedede;*/
    color: black;
}

.logo {
    font-size: 120%;
}


.card_event_name {
    font-size: 1.3em;
    font-weight: 300;
    line-height: 32px;
    margin: 0 -10% 0 -10%;
}

.card_date_counter {
    font-size: 2em;
    font-weight: 300;
    /*margin: -1% -10% 0 -10%;*/
}

.card_height {
    height: 12rem;
}
