body {
    background-image: url("../media/chalkboard.jpg");
    /*color: #dedede;*/
    color: black;
}

.logo {
    font-size: 120%;
}

.card_event_name {
    font-size: 1.3em;
    font-weight: 300;
    line-height: 32px;
    margin: 0 -10% 0 -10%;
}

/*.card_time{*/
/*font-size: 2em;*/
/*font-weight: 300;*/
/*!*line-height: 32px;*!*/
/*!*margin: -1% 0% 0 0;*!*/
/*margin-left: -5px;*/
/*margin-right: -10%;*/
/*!*padding-bottom: 6%;*!*/
/*}*/

.card_date_counter {
    font-size: 2em;
    font-weight: 300;
}

.card_height {
    height: 12rem;
}

.some {
    margin-left: -10%;
    margin-right: -10%;
}