<div id="modal2" class="modal">
    <div class="modal-content">
        <div class="row">
            <h5>Are You Sure You Want To Delete?</h5>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-light btn">No</a>
        <a href="#!" class="modal-action modal-close waves-effect waves-light btn delete_btn">Yes</a>
    </div>
</div>