<nav>
    <div class="nav-wrapper cyan">
        <a href="#" class="brand-logo center"><span class="logo">Since</span></a>
        <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large"><i class="material-icons">menu</i></a>
    </div>
</nav>

<ul id="slide-out" class="sidenav">
    <li>
        <div class="user-view">
            <div class="background">
                <img src="media/chalkboard.jpg">
            </div>
            <a href="#user"><img class="circle" src="media/chalkboard.jpg"></a>
            <a href="#name"><span class="white-text name">John Doe</span></a>
            <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
        </div>
    </li>
    <li><a href="#!"><i class="material-icons waves-effect">calendar</i>Past Events</a></li>
    <li><a href="#!"><i class="material-icons waves-effect">calendar</i>Future Events</a></li>
    <div class="divider"></div>
    <li><a href="#!"><i class="material-icons waves-effect">settings</i>Settings</a></li>
    <li><a href="#!"><i class="material-icons waves-effect">show_chart</i>Statistics</a></li>
    <div class="divider"></div>
    <li><a href="#!"><i class="material-icons waves-effect">bug_report</i>Report Bug</a></li>
    <li><a href="#!"><i class="material-icons waves-effect">feedback</i>Feedback</a></li>
    <li><a href="#!"><i class="material-icons waves-effect">info</i>About</a></li>
</ul>