<nav>
    <div class="nav-wrapper cyan">
        <a href="#" class="brand-logo center"><span class="logo">Eventr</span></a>
        <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large"><i class="material-icons">menu</i></a>
    </div>
</nav>

<ul id="slide-out" class="sidenav">
    <li>
        {{#if req.user}}
            <div class="user-view">
                <div class="background">
                    <img src="media/chalkboard.jpg">
                </div>

                <img class="circle" src="{{user.image}}">
                <span class="white-text name">{{user.displayName}}</span>
            </div>
        {{/if}}
    </li>
    <li><a href="/"><i class="material-icons waves-effect">home</i>Home</a></li>
    <!--<li><a href="/past"><i class="material-icons waves-effect">calendar</i>Past Events</a></li>-->
    <!--<li><a href="/future"><i class="material-icons waves-effect">calendar</i>Future Events</a></li>-->
    <!--<div class="divider"></div>-->
    <!--<li><a href="/settings"><i class="material-icons waves-effect">settings</i>Settings</a></li>-->
    <!--<li><a href="/stats"><i class="material-icons waves-effect">show_chart</i>Statistics</a></li>-->
    <!--<div class="divider"></div>-->
    <!--<li><a href="/bug"><i class="material-icons waves-effect">bug_report</i>Report Bug</a></li>-->
    <li><a href="/feedback"><i class="material-icons waves-effect">feedback</i>Feedback</a></li>
    {{#if user}}
        <li><a href="/about"><i class="material-icons waves-effect">info</i>About</a></li>
        <li><a href="/logout"><i class="material-icons waves-effect">info</i>Logout</a></li>
    {{else}}
        <li><a href="/login"><i class="material-icons waves-effect">info</i>Login</a></li>
        <li><a href="/register"><i class="material-icons waves-effect">info</i>Register</a></li>

    {{/if}}

</ul>