<div id="modal1" class="modal" style="width: 90% !important ; max-height: 75% !important">
    <div class="modal-content">
        <div class="row">
            <form action="/" method="post">
                <!------------------------------- Name ---------------------------->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">event</i>
                        <input id="event_name" type="text" data-length="50" class="validate" name="eventName"
                               placeholder="Event Name" required>
                        <label for="event_name">Add Event</label>
                    </div>
                </div>

                <!---------------------------- DatePicker ----------------------------->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">date_range</i>
                        <input id="date_pick" type="text" class="datepicker validate" name="date"
                               placeholder="Select Date" required>
                        <label for="date_pick">Deadline Day</label>
                    </div>
                </div>

                <!---------------------------- TimePicker ----------------------------->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">access_time</i>
                        <input id="time_pick" type="text" class="timepicker validate" name="time"
                               placeholder="Select Time" required>
                        <label for="time_pick">Deadline Time</label>
                    </div>
                </div>

                <div class="modal-footer">
                    <a href="/" class="waves-effect waves-light btn modal-action modal-close cancel_btn">Cancel</a>
                    <button class="waves-effect waves-light btn modal-action modal-close submit_btn" type="submit">Add Event</button>
                </div>

                <input id="hiddenDate" name="hiddenDate" value="<%= events.date %>" type="hidden">
            </form>
            <p>Preview:</p>
            <div class="col s12 m6 l4 xl3">
                <div class="card blue-grey darken-1 card_height">
                    <div class="card-content white-text">
                        <p class="center-align card_date_counter"></p>
                        <hr class="style14">
                        <p class="center-align card_event_name"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>