<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description"
          content="Eventr Is A Days Counter App. Keep Track Of Your Future and Past Events with Since.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="styesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css.map">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="manifest" href="webmanifest.json">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="theme-color" content="#00acc1">

</head>

<body>
{{{body}}}

<!--&lt;!&ndash;------------------------ GOOGLE ANALYTICS -----------------------------------&ndash;&gt;-->

<!--&lt;!&ndash; Global site tag (gtag.js) - Google Analytics &ndash;&gt;-->
<!--<script async src="https://www.googletagmanager.com/gtag/js?id=UA-117782369-2"></script>-->
<!--<script>-->
    <!--window.dataLayer = window.dataLayer || [];-->

    <!--function gtag() {-->
        <!--dataLayer.push(arguments);-->
    <!--}-->

    <!--gtag('js', new Date());-->

    <!--gtag('config', 'UA-117782369-2');-->
<!--</script>-->

<!-- -------------------------------  FIREBASE INIT --------------------------------->

<!--<script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>-->
<!--<script>-->
    <!--var config = {-->
        <!--apiKey: "AIzaSyAQOb5cIHYdvPjBpqgYqnpMfOKKMEoWd_k",-->
        <!--authDomain: "sincedaysapp.firebaseapp.com",-->
        <!--databaseURL: "https://sincedaysapp.firebaseio.com",-->
        <!--projectId: "sincedaysapp",-->
        <!--storageBucket: "",-->
        <!--messagingSenderId: "185299716511"-->
    <!--};-->
    <!--firebase.initializeApp(config);-->
<!--</script>-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="./../../js/init.js"></script>
<script src="./../../js/app.js"></script>

<!------------------------ Service Worker ---------------------------->

<script>
    if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('./../service-worker.js')
                .then(function () {
                    console.log('Service Worker Was Registered!');
                }).catch(function (e) {
            console.log(`Error: ${e}`)
        });
    }
</script>

</body>
</html>
