<head>
    <title>About</title>
</head>
{{> _navbar}}

<body>
<div class="container">
    <h5>Eventr Is A Days Counter App. Keep Track Of Your Future and Past Events with Eventr.</h5>
</div>
</body>



