<head>
    <title>About</title>
</head>
{{> _navbar}}

<body>
<div class="container">
    <p style="font-size: medium; margin-top: 5%">Eventr is a Progressive Web App (PWA), a new web technology which helps
        you install Eventr on your homescreen. This way, you won't have to remember the domain name or keep that Chrome
        tab open.</p>
    <h5>Installing on Android:</h5>
    <p style="font-size: medium">Many PWAs will automatically prompt an install button when you visit the app in the web
        browser. If not, tap the
        <img src="/android-more.png" style="width: 16px">
        button next to the address field and select "Add to Home screen" in the list of options that appears.</p>
    <h5>Installing on iOS:</h5>
    <p style="font-size: medium">While using a PWA in Safari, tap the <img src="/ios-action.png" style="width: 16px;">
        button in the browser.
        Scroll right among the options that appear and select
        "Add to Home Screen".</p>
    <p style="font-size: medium; margin-top: 10%">Thanks for using my app. Feel free to contact me if you have any
        questions.<br>
        Contact - vinaysb2000@gmail.com</p>
</div>
</body>



