{{> _navbar}}

<section>
    <form action="/feedback" method="post">
        <div class="container">
            <div class="row">
                <div class="card white darken-1">
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="material-icons prefix">account_box</i>
                            <input placeholder="Your Name" id="name" type="text" class="validate" data-length="20" name="name" required>
                            <label for="name">Name</label>
                        </div>

                        <div class="input-field col s6">
                            <i class="material-icons prefix">mail_outline</i>
                            <input placeholder="Your Email" id="email" type="email" class="validate" name="email" required>
                            <label for="email">Email</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s10">
                            <i class="material-icons prefix">message</i>
                            <textarea id="message" class="materialize-textarea" name="message" data-length="200"></textarea>
                            <label for="message">Your Message</label>
                        </div>
                    </div>
                    <button class="waves-effect waves-light btn modal-action modal-close" type="submit">SEND</button>
                    <!--<div class="input-field col s12">-->
                    <!--<i class="material-icons prefix">event</i>-->
                    <!--<input id="event_name" type="text" data-length="50" class="validate" name="eventName"-->
                    <!--placeholder="Event Name" required>-->
                    <!--<label for="event_name">Add Event</label>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </form>
</section>