{{> _navbar}}

<div class="row">
    <h4>Account Login Form</h4>
    <form method="post" action="/login">
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">email</i>
                <input id="user_email" type="email" name="email" placeholder="jon@snow.com" class="validate" required>
                <label for="user_email">Email</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">security</i>
                <input id="user_password" type="password" name="password" placeholder="Password" class="validate" required>
                <label for="user_password">Password</label>
            </div>
        </div>

        <button class="btn waves-effect waves-light" type="submit">Submit
            <i class="material-icons right">send</i>
        </button>
    </form>
</div>