body {
    /*background-image: url("../media/chalkboard.jpg");*/
    color: black;
}

.logo {
    font-size: 120%;
}

.card_event_name {
    font-size: 1.4em;
    font-weight: 300;
}

.card_date_counter {
    font-size: 2.2em;
    font-weight: 300;
}

hr.style14 {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #b2b1b1, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #b2b1b1, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #b2b1b1, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #b2b1b1, #f0f0f0);
    margin-left: 10%;
    margin-right: 10%;
}

.icon{
    font-size: 225%;
    color: black;
}

.card_height {
    height: 150%;
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url("../media/tennis.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url("../media/tennis.jpg");
    background-size: cover;
}

.card_details{
    margin-bottom: 1%;
}

.titleCard {
    margin-top: -10%;
}